$offset-small-xxxxx: 1px;
$offset-small-xxxx: 2px;
$offset-small-xxx: 3px;
$offset-small-xx: 4px;
$offset-small-x: 5px;
$offset-small: 10px;
$offset-medium: 15px;
$offset-large: 20px;
$offset-large-x: 25px;
$offset-large-xx: 30px;
$offset-large-xxx: 35px;
$offset-large-xxxx: 40px;
$offset-large-xxxxx: 50px;
